@import "../../../../../../../variables.scss";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    width: calc(100% - 32px);
    margin: 8px;
    height: 64px;
    border-radius: 6px;

    display: flex;
    justify-content: space-evenly;

    .arrows {
        width: 0;
    }

    .attribute {
        width: 25%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .arrows {
                margin-left: 0px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                svg {
                    z-index: 999;
                    width: 40px;
                    stroke-width: 3px;
                    stroke: $text-color;
                }
            }
        }
        .action {
            height: 100%;
            margin: 0 8px 0 8px;
        }

        .negative {
            svg {
                height: 50%;
                stroke: $negative-action;
                transition: all 0.2s ease;
            }
            &:hover {
                transform: scale(1.1);
                filter: brightness(1.1);
            }
        }

        .positive {
            svg {
                height: 50%;
                transition: all 0.2s ease;
                stroke: $positive-action;
            }
            &:hover {
                transform: scale(1.1);
                filter: brightness(1.1);
            }
        }
    }

    .big-attribute {
        width: 25%;
        font-size: 24px;
    }
}
