@import "../../../../../../../variables.scss";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card {
    background-color: $hover-color;
}

.item {
    width: calc(100% - 32px);
    margin: 8px;
    padding-left: 8px;
    min-height: 64px;
    max-height: 64px;
    border-radius: 6px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    position: relative;
    .arrows {
        z-index: 1000 !important;
        width: 0;
    }

    .attribute {
        height: calc(100% - 16px);
        width: 25%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;

        &:hover {
            .arrows {
                position: relative;
                z-index: 999;
                margin-left: 0px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                svg {
                    z-index: 999;
                    width: 40px;
                    stroke-width: 3px;
                    stroke: $text-color !important;
                }
            }
        }
        .action {
            height: 100%;
            margin: 0 16px;
        }

        .negative {
            svg {
                height: 75%;
                stroke: $negative-action !important;
                transition: all 0.2s ease;
            }
            &:hover {
                transform: scale(1.1);
                filter: brightness(1.1);
            }
        }

        .positive {
            svg {
                height: 75%;
                transition: all 0.2s ease;
                stroke: $positive-action !important;
            }
            &:hover {
                transform: scale(1.1);
                filter: brightness(1.1);
            }
        }
    }

    .big-attribute {
        width: 25%;
        font-size: 24px;
    }
}
