@import "../../../../../../../variables.scss";

.item {
    width: calc(100% - 16px);
    margin: 8px;
    height: 64px;
    border-radius: 6px;

    display: flex;
    justify-content: space-evenly;

    .attribute {
        width: 25%;
        font-size: 16px;

        .action {
            height: 100%;
            svg {
                height: 50%;
                stroke: $negative-action;
            }
        }
    }
}