<div class="container flex">

    <div class="lists" *ngIf="!(selectedList | async)">
        <div class="list item-card" *ngFor="let list of (lists | async)" (click)="selectList(list)" [ngClass]="{'overdue' : isOverdue(list.dateDue)}">
            <div class="title">
                {{list.title}}
            </div>

            <div class="tasked-user">
                Assigned to: {{getHomeUser(list.taskedUser)}}
            </div>
            <div class="dates">
                <div class="date">
                    Due: {{getDate(list.dateDue) | date:'shortDate'}}
                </div>
            </div>

            <div class="completion-status" [ngClass]="{'complete': list.isComplete}">
                {{isComplete(list)}}
            </div>
        </div>
    </div>


    <div class="edit-list" *ngIf="(selectedList | async)">
        <app-edit-list (editMade)="listEditMade()"></app-edit-list>
    </div>

</div>

<div class="modal" id="add-list-modal">
    <app-add-list-modal (closeAddListModal)="closeAddListModal.emit()" (newList)="createNewList($event)"></app-add-list-modal>
</div>