<div class="container flex">

    <div class="lists">
        <div class="list navbarstyle item-card" *ngFor="let list of (lists | async)">
            <div class="title">
                {{list.title}}
            </div>

            <div class="tasked-user">
                Assigned to: {{getHomeUser(list.taskedUserID)}}
            </div>
            <div class="dates">
                <div class="date">
                    Assigned on: {{list.dateTasked | date:'shortDate'}}

                </div>
                <div class="date">
                    Due: {{list.dateDue | date:'shortDate'}}
                </div>
            </div>

            <div class="completion-status">
                {{list.isComplete ? 'Completed': 'Not Complete'}}
            </div>
        </div>
    </div>



</div>