<div class="container" *ngIf="list">

    <div class="info">
        <div class="inf">
            <div class="desc">
                Tasked To:
            </div>
            <div class="action">
                <select name="user" id="list-user-update" #listUser (change)="onOptionsSelected(listUser.value)">
                    <option *ngFor="let user of getUsersInHome()" class="search" [value]="user.id"
                        [selected]="list.value ? user.id === list.value.taskedUser : 'none'">{{user.email}}
                    </option>
                </select>
            </div>
        </div>


        <div class="inf">
            <div class="desc">
                List Title:
            </div>
            <div class="action">
                <div class="input" (keyup)="changeTitle(title.value)">
                    <input type="text" #title [value]="list.value ? list.value.title : ''">
                </div>
            </div>
        </div>
        <div class="inf-long">
            <div class="toggle" [ngClass]="{'positive': !getIsActive()}">
                {{!getIsActive() ? 'Complete' : 'Active'}}
            </div>

            <div class="button" *ngIf="!isEditing" (click)="openDeleteModal()">DELETE</div>
        </div>
    </div>


    <div class="content">
        <div class="header">
            <div class="title">
                Home Items
            </div>
            <div class="title">
                {{getPascal(list.value ? list.value.title : '')}}
            </div>
        </div>
        <div class="items">
            <div class="item-list">
                <div class="header">
                    <div class="attribute">Item</div>
                    <div class="attribute">Available Quantity</div>
                </div>
                <div class="item" *ngFor="let item of (items | async)" (click)="switchToList(item)" [ngClass]="{'warn' : item.quantity <= item.alertThreshold}">
                    <div class="title">
                        {{getPascalCase(item.item)}}
                    </div>

                    <div class="attribute">
                        <div class="level">
                            {{item.quantity}}
                        </div>
                    </div>

                    <div class="attribute">
                    </div>

                    <div class="end flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <polygon points="5.2 12 5.2 3 13 7.5 20.8 12 13 16.5 5.2 21 5.2 12"
                                stroke-miterlimit="10" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="item-list" id="list" *ngIf="list">

                <div class="header left">
                    <div class="attribute">Item</div>
                    <div class="attribute">Current Quantity</div>
                    <div class="attribute">Required Quantity</div>
                </div>

                <div class="item" *ngFor="let item of (list | async)?.items" (click)="switchToHome(item)">

                    <div class="end flip flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <polygon points="5.2 12 5.2 3 13 7.5 20.8 12 13 16.5 5.2 21 5.2 12"
                                stroke-miterlimit="10" />
                        </svg>
                    </div>

                    <div class="body">

                        <div class="title">
                            {{getPascalCase(item.item)}}
                        </div>

                        <div class="attribute">
                            <div class="level">
                                {{item.quantity}}
                            </div>
                        </div>

                        <div class="attribute">
                            <div class="level">
                                {{item.needed ? item.needed : 0}}
                            </div>
                            <div class="arrows">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    (click)="increaseThresholdValue($event, item)">
                                    <polyline points="19 15 12 8 5 15" fill="none" stroke-miterlimit="10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    (click)="decreaseThresholdValue($event, item)">
                                    <polyline points="5 9 12 16 19 9" fill="none" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="close-delete-modal">
    <app-delete-list-modal (cancelModal)="closeDeleteModal()" (deleteItem)="deleteList()">
    </app-delete-list-modal>
</div>