@import "../../../../../../../../variables.scss";

.container {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    .content {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        .header {
            width: calc(100%);
            height: 48px;
            display: flex;
            align-items: center;
            font-size: 24px;
            .title {
                width: 50%;
            }
        }

        .items {
            margin-top: 16px;
            width: 100%;
            max-height: calc(100% - 72px);
            height: calc(100% - 72px);
            display: flex;
            justify-content: space-between;
            border-radius: 6px;

            .item-list {
                width: calc(50% - 8px);
                height: calc(100% - 2px);
                border-radius: 6px;
                background-color: $background-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 8px;

                .header {
                    width: calc(100% - 80px);
                    height: 64px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    color: $text-color;
                    .attribute {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 33%;
                        font-size: 16px;
                    }
                }

                .left {
                    margin-left: 52px;
                }

                .right {
                    margin-right: 64px;
                }

                .item {
                    width: calc(100% - 32px);
                    height: 48px;
                    display: flex;
                    margin: 8px;
                    align-items: center;
                    background-color: $foreground-color;
                    border-radius: 6px;
                    transition: all 0.2s ease;
                    cursor: pointer;

                    .body {
                        width: calc(100% - 48px);
                        display: flex;
                        align-items: center;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                    .title {
                        margin-left: 8px;
                        width: 33%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .attribute {
                        height: 100%;
                        width: 33%;

                        display: flex;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .arrows {
                            position: relative;
                            z-index: 999;
                            margin-left: 0px;
                            height: 40px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                        }
                        svg {
                            z-index: 999;
                            width: 40px;
                            stroke-width: 3px;
                            stroke: $text-color;
                        }

                        .action {
                            height: 100%;
                            margin: 0 8px 0 8px;
                        }

                        .negative {
                            svg {
                                height: 50%;
                                stroke: $negative-action;
                                transition: all 0.2s ease;
                            }
                            &:hover {
                                transform: scale(1.1);
                                filter: brightness(1.1);
                            }
                        }

                        .positive {
                            svg {
                                height: 50%;
                                transition: all 0.2s ease;
                                stroke: $positive-action;
                            }
                            &:hover {
                                transform: scale(1.1);
                                filter: brightness(1.1);
                            }
                        }
                    }
                    &:hover {
                        filter: brightness(125%);
                        transform: scale(1.025);
                        animation-delay: 0.2s;
                        .end {
                            opacity: 1;
                            width: 48px;
                            transform: scale(1);
                        }
                    }

                    .end {
                        height: 100%;
                        width: 48px;
                        opacity: 0;
                        transition: all 0.2s ease;
                        svg {
                            height: 50%;
                            fill: $text-color;
                            stroke: $text-color;
                        }
                    }

                    .flip {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}
