<div class="container">
    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">

    <button (click)="login()">Submit</button>

    <input type="text" id="first-name" placeholder="First Name">
    <input type="text" id="last-name" placeholder="Last Name">
    <input type="email" id="signup-email" placeholder="Email">
    <input type="password" id="signup-password" placeholder="Password">

    <button (click)="signup()">signup</button>
</div>