.content {
    position: absolute;
    top: 0;
    left: 96px;
    width: calc(100% - 96px);
    height: 100%;
    display: flex;
    justify-content:  center;
}

.nav {
    height: 100%;
    width: 96px;
    position: fixed;
    left: 0;
    z-index: 100;
}

.container {
    position: absolute;
    height: calc(100% - 32px);
    width: calc(100% - 16px);
    overflow: hidden;
}

.sidebar {
    position: fixed;
    left: 72px;
    top: 0;
    width: 72px;
    height: 100%;
}

.snackbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 25%;
    height: 150px;
    transition: all 0.3s ease;

    transform: translateX(100%);
}