<div class="sidebar-container">
    <div class="sidebar navbarstyle card">
        <div class="header">
            <div class="user hover navbutton" (click)="navigateToUser()">
                <div class="icon">

                </div>
                <div class="name">
                    {{getName()}}
                </div>
            </div>
        </div>
        <div class="content">
            <div *ngIf="home | async" class="data">
                <div class="home" (click)="chooseNewHome()">
                    {{getNickname()}}
                </div>
                <div *ngFor="let category of (categories | async)" class="category" [ngClass]="{'k': isSelected(category)}" (click)="select(category)">
                    {{category}}
                </div>
            </div>
        </div>
    </div>
</div>