<div class="container">

    <div class="edge" (click)="cancel()"></div>

    <div class="modal-container">
        <div class="content">

            <div class="header">
                {{title}}
            </div>

            <div class="text">
                <div class="label">
                    Item
                </div>
                <div class="search-area navbarstyle">
                    <div class="search">
                        <input type="text" [id]="itemToUpdate ? 'item-name' + itemToUpdate.id : 'item-name'" #itemTitle
                            (keyup)="checkSave(itemTitle.value)" placeholder="Enter item name"
                            [value]="itemToUpdate ? itemToUpdate.item : ''">
                    </div>
                </div>
            </div>

            <div class="text">
                <div class="label">
                    Category
                </div>
                <div class="search-area navbarstyle">
                    <div class="search">
                        <select name="Category"
                            [id]="itemToUpdate ? 'item-category' + itemToUpdate.id : 'item-category'">
                            <option *ngFor="let category of categories" class="search" [value]="category"
                                [selected]="itemToUpdate ? category === itemToUpdate.category : category === currentCategory">
                                {{category}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="text">
                <div class="label">
                    Quantity
                </div>
                <div class="search-area navbarstyle">
                    <div class="search">
                        <input type="number" [id]="itemToUpdate ? 'item-quantity' + itemToUpdate.id : 'item-quantity'"
                            placeholder="Enter item quantity" [value]="itemToUpdate ? itemToUpdate.quantity : '0'"
                            (click)="checkSave(quantity.value)" #quantity (keyup)="checkSave(quantity.value)">
                    </div>
                </div>
            </div>

            <div class="text">
                <div class="label">
                    Alert Threshold
                </div>
                <div class="search-area navbarstyle">
                    <div class="search">
                        <input type="number" [id]="itemToUpdate ? 'item-threshold' + itemToUpdate.id : 'item-threshold'"
                            placeholder="Enter alert threshold"
                            [value]="itemToUpdate ? itemToUpdate.alertThreshold : '0'" (click)="checkSave(threshold.value)"
                            #threshold (keyup)="checkSave(threshold.value)">
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="button flex navbutton negative" (click)="cancel()">
                    Cancel
                </div>

                <div class="button flex navbutton positive" (click)="save()" *ngIf="(canSave | async) || itemToUpdate">
                    Save Item
                </div>
            </div>
        </div>

    </div>
    <div class="edge" (click)="cancel()"></div>
</div>