// $background-color: #00021d;
// $foreground-color: #1d1e31;
// $element-color: #4c5ccd;
// $text-color: #d0cfe0;
// $hover-color: #2b2c41;
// $positive-action: #8FC9A3;
// $negative-action: #cc3f46;


$background-color: #141618;
$foreground-color: #262b30;
$element-color: #4775f4;
$text-color: #d0cfe0;
$hover-color: #696c74;
$positive-action: #b0e3b0;
$negative-action: #cc3f46;
