// Original
// $background-color: #00021d;
// $foreground-color: #1d1e31;
// $hover-color: #2b2c41;
// $element-color: #4c5ccd;
// $text-color: #d0cfe0;
// $positive-action: #8FC9A3;
// $negative-action: #cc3f46;

// Light Gray
// $background-color: #171721;
// $foreground-color: #1f212b;
// $hover-color: #414147;
// $element-color: #3262ff;
// $text-color: #f4fdff;
// $positive-action: #36d278;
// $negative-action: #f10d2c;

// Dark Gray
// $background-color: #121212;
// $foreground-color:#1e1e1e;
// $hover-color: #2d2d2d;
// $element-color: #0277fc;
// $text-color: #e1e1e1;
// $positive-action: #62d074;
// $negative-action: #fe203e;

// Blue
// $background-color: #050a14;
// $foreground-color: #0c1c36;
// $hover-color: #122f60;
// $element-color: #0066c5;
// $text-color: #dcdee2;
// $positive-action: #38dfb0;
// $negative-action: #fc0760;

// Alt-Gray
$background-color: #111829;
$foreground-color: #252e3f;
$hover-color: #3e4958;
$element-color: #3853db;
$text-color: #f6f6f6;
$positive-action: #4fd64f;
$negative-action: #ED0000;

// $background-color: #181822;
// $foreground-color: #2c2c34;
// $hover-color: #52525a;
// $element-color: #2352ec;
// $text-color: #fcfcfc;
// $positive-action: #00c3a9;
// $negative-action: #dd3a3a;

// $background-color: #070707;
// $foreground-color: #252525;
// $hover-color: #484848;
// $element-color: #3056d7;
// $text-color: #fbfbfe;
// $positive-action: #2dc66e;
// $negative-action: #ED0000;
