// Original
// $background-color: #00021d;
// $foreground-color: #1d1e31;
// $hover-color: #2b2c41;
// $element-color: #4c5ccd;
// $text-color: #d0cfe0;
// $positive-action: #8FC9A3;
// $negative-action: #cc3f46;

// Light Gray
// $background-color: #141618;
// $foreground-color: #262b30;
// $element-color: #4775f4;
// $text-color: #d0cfe0;
// $hover-color: #353b41;
// $positive-action: #a1d6a1;
// $negative-action: #cc383f;

// Dark Gray
// $background-color: #050506;
// $foreground-color: #0f0f16;
// $hover-color: #1d1d29;
// $element-color: #4775f4;
// $text-color: #dcdee2;
// $positive-action: #38dfb0;
// $negative-action: #fc0760;

// Blue
// $background-color: #050a14;
// $foreground-color: #0c1c36;
// $hover-color: #122f60;
// $element-color: #0066c5;
// $text-color: #dcdee2;
// $positive-action: #38dfb0;
// $negative-action: #fc0760;

// Alt-Gray
$background-color: #111829;
$foreground-color: #252e3f;
$hover-color: #3e4958;
$element-color: #2a45ca;
$text-color: #f6f6f6;
$positive-action: #58be46;
$negative-action: #c42f45;