<div *ngIf="home" class="home-container container flex">
    <div class="home navbarstyle card">
        <div class="info">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M1,11,12,2l11,9" fill="none" />
                    <path d="M20,8.5V22H4V8.5" fill="none" />
                    <polyline points="9.5 22 9.5 14 14.5 14 14.5 22" fill="none" />
                </svg>
            </div>
            <div class="title flex">
                {{home.nickname}}
                <div *ngIf="home.isAdmin" class="stats">
                    Admin
                </div>
            </div>
        </div>

        <div class="home-stats">
            <div class="stat hover" (click)="setState('users')"
                [ngClass]="{'selected': (currentState | async) === 'users'}">
                <div class="title">
                    Users
                </div>
                <div class="data">
                    {{home.users.length}}
                    <div class="subdata" *ngIf="home.invites.length > 0">
                        {{home.invites.length}} invites
                    </div>
                </div>
            </div>

            <div class="stat hover" (click)="setState('items')"
                [ngClass]="{'selected': (currentState | async) === 'items'}">
                <div class="title">
                    Items
                </div>
                <div class="data">
                    {{home.items.length}}
                    <div class="subdata">
                        0 items in lists
                    </div>
                </div>
            </div>

            <div class="stat hover" (click)="setState('lists')"
                [ngClass]="{'selected': (currentState | async) === 'lists'}">
                <div class="title">
                    Lists
                </div>
                <div class="data">
                    0
                    <div class="subdata">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list navbarstyle card" *ngIf="(currentState | async) === 'items'">
        <app-home-items *ngIf="home && home.items.length > 0" [home]="home" (addItem)="addItem.emit($event)"
            (deleteItem)="deleteItem.emit($event)"></app-home-items>
        <div class="container flex" *ngIf="home && home.items.length < 1">
            Hit the "New Item" button in the bottom right corner to add items to your home!
        </div>
    </div>

    <div class="list navbarstyle card" *ngIf="(currentState | async) === 'users'">
        <app-home-users *ngIf="home" [home]="home" (removeInvite)="removeInvite.emit($event)" (removeMember)="removeMember.emit($event)"></app-home-users>
        <div class="container flex" *ngIf="home && home.users.length < 1">
            No users in your home!
        </div>
    </div>

    <div class="list navbarstyle card" *ngIf="(currentState | async) === 'lists'">
        <app-home-lists></app-home-lists>
    </div>

</div>

<div class="fab flex" (click)="addItem.emit()" *ngIf="(currentState | async) === 'items'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <polygon points="7.5 16.5 8 13.5 18.5 3 19.5 3 21 4.5 21 5.5 10.5 16 7.5 16.5" fill="none"
            stroke-miterlimit="10" />
        <line x1="16.5" y1="4.5" x2="19.5" y2="7.5" fill="none" stroke-miterlimit="10" />
        <polyline points="16.5 15.5 16.5 21.5 2.5 21.5 2.5 7.5 8.5 7.5" fill="none" />
    </svg>
</div>

<div class="fab flex" *ngIf="(currentState | async) === 'users' && home && home.isAdmin">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle cx="8.5" cy="7" r="4" fill="none" />
        <polyline points="1 20.5 1 16.5 4 13.5 8.5 15 13 13.5 16 16.5 16 20.5" fill="none" />
        <line x1="19.5" y1="6.5" x2="19.5" y2="13.5" fill="none" stroke-miterlimit="10" />
        <line x1="23" y1="10" x2="16" y2="10" fill="none" stroke-miterlimit="10" />
    </svg>
</div>